:root {
    --mainFont: 'TeX Gyre Adventor', sans-serif;
    --secondFont: 'Montserrat', sans-serif;
    --thirdFont: 'Open Sans', sans-serif;
    --serifFont: 'Roboto Slab', serif;
    --coloraccent1: rgb(92, 157, 131);
    --main-background: rgba(34, 34, 34, 0.63);
    --background-img: url(img/cosmic-7.jpeg);

    /*
    #222222 black
    #294936 green
    #6f1d1b red
    #bb9457 yellow
    #99582a orange
    */

    /* Web Palette
    #5D9D83 Green
    */
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--mainFont);
    font-weight: 300;
}

.wrapper {
    background-image: var(--background-img);
    background-clip: border-box;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;

    div {
        padding: 15px;
    }

    .flex {

        color: #ffffff;
        display: flex;
        justify-content: space-around;
        background-color:rgba(34, 34, 34, 0.63);
        height: 100vh;

        .content {
            text-align: center;
            text-transform: capitalize;
            background-color: rgba(106, 90, 205, 0.8);
            border: 3px solid rgb(106, 90, 205);
            border-radius: 15px;

            flex-basis: 45%;

            #header {
                font-size: 3rem;
            }

            #subline {
                font-size: 3rem;
            }

        }
    }
}

/* Flex Box Styles */

@media(min-width: 468px) {
   
    .wrapper {

        .flex {

            .content {
                
                
            }
        }

    }

}

@media(min-width: 1080px) {

    .wrapper {

        .flex {

            .content {
                
            }
        }

    }

}