:root {
    --mainFont: 'TeX Gyre Adventor', sans-serif;
    --secondFont: 'Montserrat', sans-serif;
    --thirdFont: 'Open Sans', sans-serif;
    --serifFont: 'Roboto Slab', serif;
    --coloraccent1: rgb(92, 157, 131);
    --main-background: rgba(34, 34, 34, 0.63);
    --background-img: url(img/cosmic-3.jpeg);

    /*
    #222222 black
    #294936 green
    #6f1d1b red
    #bb9457 yellow
    #99582a orange
    */

    /* Web Palette
    #5D9D83 Green
    */
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--mainFont);
    font-weight: 300;
}

.wrapper {
    background-image: var(--background-img);
}

.wrapper div {
    padding: 15px;
}

/* Flex Box Styles */

@media(min-width: 468px) {
   
    .wrapper {

        .flex {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .sidebar {
                flex-basis: 90%;
                background-color: seagreen;
            }

            .content {
                flex-basis: 90%;
                background-color: slateblue;
            }
        }

    }

}

@media(min-width: 1080px) {

    .wrapper {

        .flex {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .sidebar {
                flex-basis: 20%;
                background-color: seagreen;
            }

            .content {
                flex-basis: 70%;
                background-color: slateblue;
            }
        }

    }

}